/*
	-------------------------
	-- pixyc.cc stylesheet --
	-------------------------
*/

/* hi */

@font-face {
	font-family: 'abc_mono';
	src: url('/abc_mono.woff2') format('woff2');
} /* main body font */

@font-face {
	font-family: 'PROLOGIK';
	src: url('/prologik.woff') format('woff');
} /* title display font */

body { 
	
	/* global boilerplate */

	font-family: 'abc_mono';
	
	color: #fff;
	background-color: #000;
	
	font-size: 1.1rem;
	font-weight: 250; /* idk if these two are good or not */

	h1, h2, h3, h4, h5, h6, p {margin:0px;} /* caused nav to display distanced from page. also lolz :) */
	
	background-image: url('./dark.png');
	
	background-attachment: fixed;
	background-position: center center;
	background-size: cover; /* scale background to fit screen and not move */
	
	a {
		color: inherit; /* yeah */
	}
	
	.break {
		clear: left; /* Forces this element below any left-floated elements */
	}
	
	#header {
	
		h1 {
			
			font-family: 'PROLOGIK';
			
			margin-top: 12rem; /* make the site start in center */
			margin-bottom: 10rem; /* distance the header from the rest of the site */
			
			font-size: 3.5rem; 
			text-align: center;
			
		}
	
	}
	
	#nav {
	
		max-width: 54rem; /* text above main page block */
		margin: auto; /* center the block */
		font-weight: 250;

		p {
			margin-bottom: 0; /* no gap from the main page */
			font-size: 1.2rem;
			color: #ffffffd0;
		}
		
	}
	
	#main {
		
		/* actual site body block */
	
		background-color: #00000050; /* background transparency */
		backdrop-filter: blur(12px); /* blur */
		-webkit-backdrop-filter: blur(12px); /* blur */

		padding: 0.25rem; /* yeah */
		

		margin-top: 0px; /* no gap from the main page */
		
		max-width: 54rem; /* max size */
		
		margin: auto; /* centering */
			
		border-radius: 6px;	/* rounding */
		
		outline: solid #ffffff28 1.5px; /* outline */
		
		h2 { /* should be used for only the most attention-grabbing points of the site */
			
			font-size: 1.8rem;
			font-weight: 400;
			
		}
		
		h3, h1 {
			font-weight: 420; /* :) */
		}
		
		/* image shortcode */

		.inline_image {

			border-radius: 6px;	/* rounding */
			float: left; /* flow around text */
			margin-right: 0.25rem; /* gaps */
			margin-bottom: 0.25rem;
			
			outline: solid #ffffff28 1.5px; /* outline */
			

		}
		
		/* all of this is for the title text on list posts */
		
		.title_area {
		  display: flex;
		  align-items: flex-end; /* align with end */
		  width: 100%;
		}

		.dots {
		  flex: 1;               /* fill all empty space */
		  border-bottom: 4px dotted #999; /* make dottedf line */
		  margin: 0 10px;        /* small gap */
		  margin-bottom: 4px;    /* align vertically */
		}
		
	}
	
	/* footer text */
	
	#footer {
		
		p {
			
			text-align: center;
			font-size: 0.9rem;
			
			margin-top: 0rem; /* gap between site and footer */
			margin-bottom: 1.25rem; /* gap on bottom of site */
			
		}
		
	}
	
}

/* 
	----------------------------
	-- NARROW SCREEN FALLBACK -- 
	----------------------------
*/


@media(max-width: 620px){
	
	body {
		
		#header {
		
			h1 {

				font-size: 8.7vw; /* makes text scale down when it can't fit */
				
			}
		
		}
		
		.inline_image {
		
			border-radius: 6px;	/* rounding */
			margin-right: 0.25rem; /* gaps */
			margin-bottom: 0.25rem;
			max-width: 100% !important;
			
			outline: solid #ffffff28 1.5px; /* outline */
			
		
		}
		
	}
	
}

/* 
	-----------------------------
	-- LIGHT MODE FALL-FORWARD -- 
	-----------------------------
*/

/* i just *know* im gonna forget shit :P */

@media (prefers-color-scheme: light) {
	
	body {
		
		color: #000;
		background-color: #fff;
		background-image: url('./light.png');
		
	#nav {
		
			p {
				color: #00000095;
			}
			
		}
		
		#main {
		
			background-color: #ffffff50;
			outline: solid #00000028 1.5px;

			.inline_image {
				outline: solid #00000028 1.5px;
			}

		}
		
	}
	
}

/* hi */